<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/static/site.css" />
		<title>Steam Game Comparison</title>
	</head>
	<body>
		<div id="header">
			{{{header}}}
		</div>
		<div id="content">
			{{{content}}}
		</div>
	</body>
</html>